.home-page {
    position: relative; 
  }
  
  .slide-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1; 
  }
  
  .product-container {
    display: grid;
    z-index: 1;
    padding-top: 180px;
    width: 100%;
  
  }

  .subContainer {
    display: grid;
    width: 100%;


    
  }

  .singleProduct {
    display: flex;
    align-items: stretch;
    width: 100%;    
   
    
  }

  .card {
    /* padding-right: 10px !important; */
    /* background: none !important; */
    background-color: white !important;
    color: black !important;
}

